<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kmigithub</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.komi.kmigithub.oauth</string>
		</dict>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>使用 Face ID 快速登录您的 GitHub 账户</string>
</dict>
</plist>
